= form_for @provider, remote: true do |f|

  #errors.red-text.center.bold.hidden An error occured

  .row.top-space
    .input-field.col.s12.m4
      = f.text_field :name, 'data-length': '50'
      = f.label :name
      %small.red-text#name_error
    .input-field.col.s12.m4
      = f.text_field :ruc, 'data-length': '10'
      = f.label :ruc
      %small.red-text#ruc_error
    .input-field.col.s12.m4
      = f.select :country_id, options_from_collection_for_select(@countries,:id,:name,@provider.country_id), prompt: 'Choose an option'
      %small.red-text#country_id_error

  .row
    .input-field.col.s12.m4
      = f.text_field :address, 'data-length': '50'
      = f.label :address
      %small.red-text#address_error
    .input-field.col.s12.m4
      = f.text_field :phone, 'data-length': '10'
      = f.label :phone
      %small.red-text#phone_error
    .input-field.col.s12.m4
      = f.text_field :contact, 'data-length': '10'
      = f.label :contact
      %small.red-text#contact_error