%tr.pretty
  %th= sortable 'name', 'Name'
  %th= sortable 'ruc', 'RUC'
  %th= sortable 'address', 'Address'
  %th= sortable 'phone', 'Phone'
  %th= sortable 'contact', 'Contact'
  %th Country
  %th Actions