.card.no-margin
  .card-content

    .row.border-collection
      %nav.white.black-text.z-depth-0
        .nav-wrapper
          .col.s12
            = link_to 'Clients',clients_path, class: "breadcrumb blue-text"
            = link_to @client.name,client_path(@client), class: "breadcrumb blue-text"
            = link_to 'VIEW','', class: "breadcrumb black-text"

    .row
      .col.s12.m4
        %span.bold Name
      .col.s12.m8
        %span= @client.name
    .row
      .col.s12.m4
        %span.bold Corporate name
      .col.s12.m8
        %span= @client.corporate_name.presence || '-'
    .row
      .col.s12.m4
        %span.bold RUC
      .col.s12.m8
        %span= @client.ruc.presence || '-'
    .row
      .col.s12.m4
        %span.bold Address
      .col.s12.m8
        %span= @client.address
    .row
      .col.s12.m4
        %span.bold Phone
      .col.s12.m8
        %span= @client.phone
    .row
      .col.s12.m4
        %span.bold Contact
      .col.s12.m8
        %span= @client.contact.presence || '-'
    .row
      .col.s12.m4
        %span.bold Country
      .col.s12.m8
        %span= @client.country.name





