= form_for @income, multipart: true do |f|
  .row
    .col.s12
      %span.bold (*) Required fields

  - if @income.errors.any?
    #errors.red-text.center.bold An error occured

  .row.top-space
    .input-field.col.s12.m4
      = f.select :source, options_for_select(Income.sources.keys,:source), class: 'source-select'
      = f.label :source, 'Source (*)'
      %small.red-text#source_error= @income.errors.full_messages_for(:source).to_sentence
    .input-field.col.s12.m4{class: "#{'hidden' if @income.direct? }"}
      = f.text_field :invoice_number, data: { length: '50' }
      = f.label :invoice_number, 'Invoice number (*)', class: 'active'
      %small.red-text#invoice_number_error= @income.errors.full_messages_for(:invoice_number).to_sentence
    .input-field.col.s12.m4
      = f.select :client_id, options_from_collection_for_select(@clients,:id,:name,@income.client_id), {prompt: 'Choose an option'}, class: 'client-select-income'
      = f.label :client_id, 'Client (*)'
      %small.red-text#client_error= @income.errors.full_messages_for(:client).to_sentence
      = link_to 'More', client_information_incomes_path, remote: true, class: 'hidden', id: 'client_information_link'

  .row
    .input-field.col.s12.m3
      = f.select :country_id, options_from_collection_for_select(@countries,:id,:name,@income.country_id),{ prompt: 'Choose an option' }, class: 'country-select'
      = f.label :country_id, 'Country (*)'
      %small.red-text#country_error= @income.errors.full_messages_for(:country).to_sentence
    #client_information{class: "#{'hidden' unless @income.client_id.present?}" }
      .input-field.col.s12.m3
        = text_field_tag :ruc, @income.client.try(:ruc), class: 'ruc-field', disabled: true
        = label_tag :ruc, 'Client RUC'
      .input-field.col.s12.m3
        = text_field_tag :address, @income.client.try(:address), class: 'address-field', disabled: true
        = label_tag :address, 'Client address'
      .input-field.col.s12.m3
        = text_field_tag :phone, @income.client.try(:phone), class: 'phone-field', disabled: true
        = label_tag :phone, 'Client phone'

  .row
    .input-field.col.s12.m4
      = f.text_field :description, data: { length: '200'}
      = f.label :description, 'Description (*)', class: 'active'
      %small.red-text#description_error= @income.errors.full_messages_for(:description).to_sentence
    .input-field.col.s12.m4
      = f.select :currency_id, options_from_collection_for_select(@currencies,:id,:name,@income.currency_id)
      = f.label :currency_id, 'Currency (*)'
      %small.red-text#currency_error= @income.errors.full_messages_for(:currency).to_sentence
    .input-field.col.s12.m4
      = f.number_field :amount, step: 'any', class: 'amout-field'
      = f.label :amount, 'Amount included IGV(*)', class: 'active'
      %small.red-text#amount_error= @income.errors.full_messages_for(:amount).to_sentence
  .row
    .col.s12.m6
      .file-field.input-field
        .btn.deep-purple.accent-4
          %span Invoice copy
          = f.file_field :invoice_copy
        .file-path-wrapper
          %input{type: 'text', class: 'file-path validate', value: @income.invoice_copy.original_filename}
      %small.red-text#invoice_copy_error= @income.errors.full_messages_for(:invoice_copy).to_sentence
    .col.s12.m6
      .file-field.input-field
        .btn.deep-purple.accent-4
          %span Purchase order
          = f.file_field :purchase_order
        .file-path-wrapper
          %input{type: 'text', class: 'file-path validate', value: @income.purchase_order.original_filename}
      %small.red-text#purchase_order_error= @income.errors.full_messages_for(:purchase_order).to_sentence

  .row
    .input-field.col.s12.m4
      = f.text_field :purchase_order_number
      = f.label :purchase_order_number, 'Purchase order number (*)', class: 'active'
      %small.red-text#purchase_order_number_error= @income.errors.full_messages_for(:purchase_order_number).to_sentence
    .input-field.col.s12.m4
      = f.text_field :billing_at, class: 'datepicker', value: @income.billing_at.try(:strftime,"%Y-%m-%d")
      = f.label :billing_at, 'Billing at (*)', class: 'active'
      %small.red-text#billing_at_error= @income.errors.full_messages_for(:billing_at).to_sentence
    .input-field.col.s12.m4
      = f.text_field :expiration_at, class: 'datepicker', value: @income.expiration_at.try(:strftime,"%Y-%m-%d")
      = f.label :expiration_at, 'Expiration at (*)', class: 'active'
      %small.red-text#expiration_at_error= @income.errors.full_messages_for(:expiration_at).to_sentence

  .row
    .col.s12.m4
      = f.check_box :drawdown_seal
      = f.label :drawdown_seal
  .row
    .input-field.col.s12.m4
      = f.select :state, class_enum_for_select("Income","state"), {}, class: 'send-filter'
      = label_tag :state, 'State(*)'
      %small.red-text#state_error= @income.errors.full_messages_for(:state).to_sentence
    .input-field.col.s12.m4
      = f.text_area :message, class: 'materialize-textarea'
      = f.label :message
    .input-field.col.s12.m4
      = f.text_area :reason, class: 'materialize-textarea'
      = f.label :reason


