%tr{id: "#{dom_id income}", class: "#{color_state_of_income(income)} %>"}
  %td= income.client.name
  %td= income.description
  %td= income.amount
  %td= income.created_at.strftime("%Y/%m/%d")
  %td= income.billing_at.strftime("%Y/%m/%d")
  %td= income.state
  %td
    = link_to "<i class='material-icons'>visibility</i>".html_safe, income_path(income)
    = link_to "<i class='material-icons'>picture_as_pdf</i>".html_safe, generate_invoice_income_path(income,format: :pdf)
    = link_to "<i class='material-icons'>edit</i>".html_safe, edit_income_path(income)
    = link_to "<i class='material-icons'>cloud_download</i>".html_safe, download_income_path(income)
