.fixed-action-btn.new-button
  = link_to new_income_path, class: "btn-floating waves-effect waves-light btn-large deep-purple accent-4 btn" do
    %i.material-icons add

.card.no-margin
  .card-content
    %p.bold.medium INCOMES
    = render 'filters'

    = print_color_state_of_income

    .overflow-x
      %table.centered
        %thead#table_header
          = render 'table_header'
        %tbody#incomes_index
          = render @incomes

    .top-space.center.pagination-from-table
      = will_paginate @incomes, renderer: MaterializePaginationCustomHelper::PaginateMaterailizeLinkRenderer

    #total
      = render 'total'