%tr{id: "#{dom_id fee}"}
  %td= fee.amount_decimal
  %td= fee.planned_payment_at
  %td= fee.transaction_at.presence || '-'
  %td
    - if fee.document.present?
      = link_to fee.document.original_filename, fee_path(fee)
    - else
      %span -
  %td= fee.is_paid?.humanize
  %td
    - if !fee.is_paid?
      = link_to "<i class='material-icons'>edit<i>".html_safe, edit_fee_path(fee), remote: true
    - else
      %span -