%tr{id: "#{dom_id expense}", class: "#{color_state_of_expense(expense)} %>"}
  %td= expense.provider.name
  %td= expense.description
  %td= expense.amount
  %td= expense.created_at.strftime("%Y/%m/%d")
  %td= expense.planned_payment_at.strftime("%Y/%m/%d")
  %td= expense.state
  %td
    = link_to "<i class='material-icons'>edit</i>".html_safe, edit_expense_path(expense)
    = link_to "<i class='material-icons'>monetization_on</i>".html_safe, pay_expense_path(expense), class: 'green-text'