%tr{id: "#{dom_id expense}", class: "#{color_state_of_expense(expense)} %>"}
  %td= expense.source.humanize
  %td= expense.provider.name
  %td= expense.description
  %td= "#{expense.currency.code} #{expense.amount}"
  %td= expense.registered_at.strftime("%Y/%m/%d")
  %td= expense.planned_payment_at.try(:strftime,"%Y/%m/%d") || '-'
  %td= expense.state
  %td
    = link_to "<i class='material-icons'>visibility</i>".html_safe, expense_path(expense), class: 'black-text'
    = link_to "<i class='material-icons'>edit</i>".html_safe, edit_expense_path(expense), class: 'black-text'
    - if expense.pending?
      = link_to_pay(expense)
%tr
  %td{colspan: '8'}
    %span.bold FEES
%tr
  %td #
  %td{colspan: '3'} Amount
  %td{colspan: '2'} Planned payment date
  %td Transaction date
  %td Is paid
- expense.fees.each_with_index do |fee,index|
  %tr
    %td= index + 1
    %td{colspan: '3'}= fee.amount_decimal
    %td{colspan: '2'}= fee.planned_payment_at.strftime('%Y-%m-%d')
    %td= fee.transaction_at.try(:strftime,'%Y-%m-%d') || '-'
    %td= fee.is_paid?.humanize

