.row.nested-fields
  .input-field.col.s12.m3
    = f.number_field :amount, step: 'any'
    = f.label :amount, 'Amount (*)'
    %small.red-text= f.object.errors.full_messages_for(:amount).to_sentence
  .input-field.col.s12.m3
    = f.text_field :planned_payment_at, class: 'datepicker'
    = f.label :planned_payment_at, 'Planned payment at (*)'
    %small.red-text= f.object.errors.full_messages_for(:planned_payment_at).to_sentence
  .col.s12.m3
    = link_to_remove_association "<i class='material-icons'>delete</i>".html_safe, f, class: 'red-text delete-fee-link'