= form_for @expense, remote: true do |f|

  #errors.red-text.center.bold.hidden An error occured

  .row.top-space
    .input-field.col.s12.m4
      = f.select :source, options_for_select(Expense.sources.keys,:source)
      = f.label :source
      %small.red-text#source_error
    .input-field.col.s12.m4
      = f.text_field :document_number, data: { length: '50' }
      = f.label :document_number
      %small.red-text#document_number_error
    .input-field.col.s12.m4
      = f.select :provider_id, options_from_collection_for_select(@providers,:id,:name,@expense.provider_id), prompt: 'Choose an option'
      = f.label :provider_id
  .row
    .input-field.col.s12.m4
      = f.select :country_id, options_from_collection_for_select(@countries,:id,:name,@expense.country_id), prompt: 'Choose an option'
      %small.red-text#country_id_error
  .row
    .input-field.col.s12.m4
      = f.text_field :description, data: { length: '200'}
      = f.label :description
    .input-field.col.s12.m4
      = f.number_field :amount, step: 'any'
      = f.label :amount
    .input-field.col.s12.m4
      = f.number_field :igv_amount, step: 'any'
      = f.label :igv_amount
    .input-field.col.s12.m4
      = f.text_field :billing_at, class: 'datepicker'
      = f.label :billing_at


