.card.no-margin
  .card-content

    .row.border-collection
      %nav.white.black-text.z-depth-0
        .nav-wrapper
          .col.s12
            = link_to 'Expenses', expenses_path, class: "breadcrumb blue-text"
            = link_to @expense.description.truncate(25),expense_path(@expense), class: "breadcrumb blue-text"
            = link_to 'VIEW','', class: "breadcrumb black-text"

    .row
      .col.s12.m4
        %span.bold Source
      .col.s12.m8
        %span= @expense.source.humanize

    .row
      .col.s12.m4
        %span.bold State
      .col.s12.m8
        %span= @expense.state.humanize

    .row
      .col.s12.m4
        %span.bold Category
      .col.s12.m8
        %span= @expense.category.try(:name) || '-'

    - if @expense.invoice?
      .row
        .col.s12.m4
          %span.bold Invoice number:
        .col.s12.m8
          %span= @expense.document_number

    .row
      .col.s12.m4
        %span.bold Provider name:
      .col.s12.m8
        %span= @expense.provider.name

    .row
      .col.s12.m4
        %span.bold Country:
      .col.s12.m8
        %span= @expense.country.name

    - if @expense.other?
      .row
        .col.s12.m4
          %span.bold Team name:
        .col.s12.m8
          %span= @expense.team.name

      .row
        .col.s12.m4
          %span.bold Collaborator:
        .col.s12.m8
          %span= @expense.collaborator.try(:name) || '-'

      .row
        .col.s12.m4
          %span.bold Issue date (yyy-mm-dd):
        .col.s12.m8
          %span= @expense.issue_at.strftime("%Y-%m-%d")


    .row
      .col.s12.m4
        %span.bold Description:
      .col.s12.m8
        %span= @expense.description

    .row
      .col.s12.m4
        %span.bold Amount:
      .col.s12.m8
        %span= "#{@expense.currency.code} #{@expense.amount}"

    - if @expense.invoice?
      .row
        .col.s12.m4
          %span.bold Planned payment date (yyyy-mm-dd):
        .col.s12.m8
          %span= @expense.planned_payment_at.try(:strftime,"%Y-%m-%d") || '-'

    .row
      .col.s12.m4
        %span.bold Transaction date (yyyy-mm-dd):
      .col.s12.m8
        %span= @expense.transaction_at.try(:strftime,"%Y-%m-%d") || '-'

    .row
      .col.s12.m4
        %span.bold Transaction document:
      .col.s12.m8
        %span
          - if @expense.transaction_document.present?
            = link_to @expense.transaction_document.original_filename, download_expense_path(@expense), target: '_blank'
          - else
            = '-'


    - if @expense.invoice?
      .row
        .col.s12
          %p.bold.medium.border-collection About payment

      .row
        .col.s12.m4
          %span.bold Payment type:
        .col.s12.m8
          %span= @expense.payment_type.humanize

      - if @expense.transference?
        .row
          .col.s12.m4
            %span.bold Bank:
          .col.s12.m8
            %span= @expense.bank.try(:name) || '-'

        .row
          .col.s12.m4
            %span.bold Account number:
          .col.s12.m8
            %span= @expense.account_number.presence || '-'

        .row
          .col.s12.m4
            %span.bold CCI:
          .col.s12.m8
            %span= @expense.cci.presence || '-'

        .row
          .col.s12.m4
            %span.bold Contact email:
          .col.s12.m8
            %span= @expense.contact_email.presence || '-'

      - elsif @expense.upon_delivery?
        .row
          .col.s12.m4
            %span.bold Place of delivery:
          .col.s12.m8
            %span= @expense.place_of_delivery.presence || '-'

        .row
          .col.s12.m4
            %span.bold Delivery date:
          .col.s12.m8
            %span= @expense.delivery_at.try(:strftime,"%Y-%m-%d") || '-'

    - if @expense.with_fee == true
      .row
        .col.s12
          %p.bold.medium.border-collection Fees

      - @expense.fees.each do |fee|
        .row
          .col.s12.m4
            %span.bold Amount:
          .col.s12.m8
            %span= fee.amount_decimal
        .row
          .col.s12.m4
            %span.bold Planned payment date:
          .col.s12.m8
            %span= fee.planned_payment_at
        .row
          .col.s12.m4
            %span.bold Document:
          .col.s12.m8
            %span
              - if fee.document.present?
                = link_to fee.document.original_filename, fee_path(fee), target: '_blank'
              - else
                = '-'

