%tr{id: "#{dom_id operation}"}
  %td= operation.kind
  %td= operation.provider.name
  %td= operation.description
  %td= operation.amount
  %td= operation.created_at.strftime("%yyyy/%mm/%dd")
  %td= operation.billing_at.strftime("%yyyy/%mm/%dd")